<section ng-if="showPasswordView">
  <div class="container-fluid content-fix block-center">
    <div class="password-instructions">
      <h4>To change your password call this number</h4>
      <h1><i class="fa fa-phone"></i> +1 877 759 77 87</h1>
    </div>
    <div class="password-new">
      <h3>New password</h3>
      <div ng-if="!isOnThePhone" class="password-new-input center-block password-new-locked">
        <i class="fa fa-lock"></i>
      </div>
      <div ng-if="isOnThePhone">
        <input class="password-new-input center-block password-new-unlocked" ng-model="passwordNew" />
        <button type="button" class="btn btn-primary btn-new-password" ng-click="changePassword(passwordNew)">Change password</button>
      </div>
    </div>
  </div>
</section>
