<section ng-if="isAuthorized && user">
  <div class="rec-page center-block container">
    <div class="row">
      <div class="col-xs-3">
        <img ng-src="{{ user.photo }}" class="user-image img-responsive" />
      </div>
      <div class="col-xs-9">
        <h3>Recommendations for <span class="capitalize">{{ user.firstName }} {{ user.lastName }}</span></h3>
      </div>
    </div>
    <div class="rec-wrapper">
      <div class="rec pull-left text-center" ng-repeat="movie in user.recommendations">
        <div><img ng-src="{{ movie.image }}" height="120" /></div>
        <div>{{ movie.name }}</div>
      </div>
    </div>
  </div>
</section>
