body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #46629b;
  height: 40px;
}

footer {
  padding: 8px 0;
  background-color: #555555;
  text-align: center;
  color: #ffffff;
  position: fixed;
  bottom: 0; left: 0; right: 0;
}

.loader-overlay {
  position: fixed;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 150px;
  transition: all 2s ease;
}

.loader-overlay i {
  margin-top: 15%;
}

/* A little of Facebook feel */

.btn-primary {
  background-color: #47649f;
}

.btn-primary:hover {
  background-color: #3F598D;
}

.has-error input {
  background-color: #FFCCD9;
}

.content {
  padding: 20px 0;
}

.login-form {
  width: 98%;
  max-width: 500px;
}

.content-fix {
  max-width: 751px;
  margin-top: 40px;
}

.full-name h3 {
  margin: 0;
  text-transform: capitalize;
}

.user-photo {
  border-radius: 4px;
}

.user-last-seen {
  color: #999999;
  margin-top: 3px;
  font-size: 12px;
}

.user-about {
  background-color: #ffffff;
  border-radius: 7px;
  font-size: 12px;
}

.btn-change-password {
  width: 100%;
}

.password-instructions, .password-new {
  text-align: center;
}

.password-new-input {
  width: 100%;
  max-width: 600px;
  height: 60px;
  text-align: center;
  font-size: 35px;
  background-color: #ffffff;
}

.password-new-locked {
  border: 2px solid #FF3366;
  color: #FF0000;
}

.password-new-unlocked {
  border: 2px solid #66FF33;
  color: #555555;
}

.btn-new-password {
  margin-top: 20px;
}

.bg-success {
  padding: 10px;
}
